.i_list_container{
  border: 1px solid lightgray; 
  height: 20vh; 
  width: 100%; 
  background-color: white; 
}


.left_list_size{
  height: 100%; 
  width: 50%;
}

.title{
  background-color: #CCE3F7; border:1px solid lightgray;
  height: 3vh;
}

.title_p{
  font-size: 1em;
}

.i_list{
  overflow: auto;
  height: 15vh; 
  width: 100%; 
}

.select_Color{
  background-color: #e7f5ff;
}

.basic_Color{
  background-color: none;
}
