.graph{
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
}

.label{
  background-color: #F2F2F2; 
  height: 38px; 
  padding-top: 6.5px; 
  border-radius: 3px;
  border: 1px solid lightgray;
  width: 100%;
}

.width{
  width: 100%;
}