.patientlist_container{
  border: 1px solid lightgray; 
  height: 35vh; 
  width: 100%; 
  background-color:white; 
}

.p_list{
  overflow: auto;
  height: 30vh; 
  width: 100%; 
}

.select_Color{
  background-color: #e7f5ff;
}

.basic_Color{
  background-color: none;
}