.rd-container{
  box-shadow: none;
  width: 100%;
  height: 100%;
}

body{
  background-color: white;
}

.d_container{
  height: 100%; 
  width: 100%; 
  margin:0; 
  background-color: #f1f3f5;
}

.left_container{
  height: 100%; 
  width: 100%; 
  margin:0;
}

.right_container{
  height: 100%; 
  width: 50%; 
  margin:0;
}

.title{
  background-color: white; 
  border:1px solid lightgray;
  height: 3vh;
}

.title_p{
  font-size: 1em;
  font-weight:bold;
  margin-left:5px;
  margin-bottom:0px;
}

.memo{
  height: 100%; width: 70%;
}

.calendar_container{
  height: 100%; 
  width: 40%;
}

.calendar{
  background-color: white; 
  border:1px solid lightgray;
  height: 3vh;
}

.left_list_size{
  height: 100%; 
  width: 50%;
}

.patientlist{
  height: 100%; 
  width: 100%;
}

.past_container{
  width:100%; 
  height: 30vh;
}

.past_container2{
  height: 100%; 
  width: 100%;
}