.rd-container{
  box-shadow: none;
  width: 100%;
  height: 100%;
}

body{
  background-color: white;
}

.d_container{
  height: 100%; 
  width: 100%; 
  margin:0; 
  background-color: #f1f3f5;
}

.left_container{
  height: 100%; 
  width: 100%; 
  margin:0;
}

.right_container{
  height: 100%; 
  width: 50%; 
  margin:0;
}

.title{
  background-color: #CCE3F7; border:1px solid lightgray;
  height: 3vh;
}

.title_p{
  font-size: 0.8em;
}

.patientlist{
  height: 100%; 
  width: 100%;
}