.calendar_container{
  height: 100%; 
  width: 30%;
}

.calendar{
  background-color: #CCE3F7; 
  border:1px solid lightgray;
}

.calendar_box{
  border: 1px solid lightgray; 
  height: 37vh; 
  width: 100%;
  background-color: white;
}


