.buttonBox{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.middle_right_bottom{
    border-radius: 7px;
    width:100%;
    height:58vh;
    background-color: #fff;
    border:1px solid black;
    overflow: auto;
}

.middle_right_bottom::-webkit-scrollbar {
    width:10px;
    border-radius: 16px;
  }

  .middle_right_bottom::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: #ced4da; /*스크롤바의 색상*/
}

.stateButton{
    margin-top: 8px;
    margin-right: 8px;
    background-color: transparent;
    border-radius: 4px;
    
}

.stateButton:hover{
    box-shadow: 3px 3px 3px 0px rgba(25,42,70,0.2);
    transform: translate(0,-0.5px);
}

.colorClass{
    background-color:#e7f5ff;
}

#__react-alert__ div div div {
    width: auto !important;
  }