.stateButton{
    margin-top: 8px;
    margin-right: 8px;
    background-color: transparent;
    border-radius: 4px;
    
}

.stateButton{
    margin-top: 8px;
    margin-right: 8px;
    background-color: transparent;
    border-radius: 4px;
    
}