.left_list_size{
  height: 100%; 
  width: 50%;
}


.title{
  background-color: #CCE3F7; border:1px solid lightgray;
  height: 3vh;
}

.title_p{
  font-size: 1em;
}

.inspection_container{
  border: 1px solid lightgray; 
  height: 28vh; 
  width: 100%; 
  background-color: white; 
  overflow: auto;
}