
.location{
  margin-left: 0.8%;
  width: 100%;
}

.back{
  background-color: white;
  width: 100%;
  height: 300px;
  border: 1px solid lightgray;
}

.labeldiv{
  border: 4px soile green;
}

.label{
  background-color: #F2F2F2; 
  height: 38px; 
  padding-top: 6px; 
  border-radius: 3px;
  border: 1px solid lightgray;
  width: 100%;
  
}

.buttonlocation{
 margin-left: 55%;
}

.tablewidth{
  width: 100%;
  height: 100%;
}

.margin1{
  width: 45%;
  float:left;
}

.margin2{
  margin-top: 1%;
  margin-left: 1%;
  float: left;
}

.margin3{
  float: right;
  margin-top: 1%;
  margin-right: 55%;
}

.width{
  width: 100%;
}

.row1{
  width: 100%;
}

.row2{
  width: 100%;
}

.searchbar{
  width: 30px;
  padding-right: 100px;
}



.button{
  width: 100px;
  height: 35px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.link{
  color: white;
  text-decoration: none;
}

.button1{
  margin-top: 0.7%;
  margin-left:45%;
}

.click{
  cursor: pointer;
}

.listtitle{
  background-color: #A4E6FF;
}

.list {
  background-color: #F8FDFF;
}

.list:hover {
  color: gray;
  background-color: rgb(241, 241, 241);
}

.list2{
  background-color: white;
}
.list2:hover {
  color: gray;
  background-color: rgb(241, 241, 241);
}

.table{
  border: 1px solid lightgray;
}

.tr1{
  width: 200px;
  border: 1px solid lightgray;
}

.tr2{
  width: 300px;
  border: 1px solid lightgray;
}

.th{
  width: 30px;
  border: 1px solid lightgray;
  padding-right: 100px;
}

.inputtext1{
  border: 1px solid lightgray;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 90px;
}

.inputtext2{
  border: 1px solid lightgray;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 68px;
}

.inputtext3{
  border: 1px solid lightgray;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 370px;
}

.inputsex{
  border: 1px solid lightgray;
  margin-left: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 90px;
}

.inputage{
  border: 1px solid lightgray;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 90px;
}

.inputaddress{
  border: 1px solid lightgray;
  margin-left: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 370px;
}

/* 
μƒμ„Έν™•μΈ
*/

.detailth{
  width: 200px;
  height: 50px;
  border: 1px solid lightgray;
}
.detailtd{
  width: 200px;
  border: 1px solid lightgray;
}