.back{
  background-color: white;
  width: 99.5%;
  height: 300px;
  border: 1px solid lightgray;
}

.label{
  background-color: #F2F2F2; 
  height: 38px; 
  padding-top: 4px; 
  border-radius: 3px;
  border: 1px solid lightgray;
  width: 1493px;
  margin-right: 21px;
  margin-left: -12px;
  
}

.row1{
  width: 100%;
}

.row2{
  width: 100%;
}

.searchbar{
  width: 30px;
  padding-right: 100px;
}



.button{
  width: 100px;
  height: 35px;
  margin-left: 10px;
  margin-bottom: 5px;
}


.listtitle{
  background-color: #A4E6FF;
}

.list {
  background-color: #F8FDFF;
}

.list:hover {
  color: gray;
  background-color: rgb(241, 241, 241);
}

.list2{
  background-color: white;
}
.list2:hover {
  color: gray;
  background-color: rgb(241, 241, 241);
}

.table{
  border: 1px solid lightgray;
}

.tr1{
  width: 200px;
  border: 1px solid lightgray;
}

.tr2{
  width: 300px;
  border: 1px solid lightgray;
}

.th{
  width: 30px;
  border: 1px solid lightgray;
  padding-right: 100px;
}

.inputtext1{
  border: 1px solid lightgray;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 90px;
}

.inputtext2{
  border: 1px solid lightgray;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 68px;
}

.inputtext3{
  border: 1px solid lightgray;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 370px;
}

.inputsex{
  border: 1px solid lightgray;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 90px;
}

.inputage{
  border: 1px solid lightgray;
  margin-left: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 90px;
}

.inputaddress{
  border: 1px solid lightgray;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 370px;
}

/* 
μƒμ„Έν™•μΈ
*/

.detailth{
  width: 110px;
  height: 50px;
  border: 1px solid lightgray;
}
.detailtd{
  width: 200px;
  border: 1px solid lightgray;
}