.patientProgress{
    margin:10px;
    width:50%;
    height:27vh;
}

.percentData{
    position:relative;
    margin:10px;
    width:10%;
    height:27vh;
}

.patientInfo{
    margin-top: 10px;
    margin-right:10px;
    width:36%;
    height:27vh;
    border-left:2px solid black
}

.progressStatus ul{
    display:flex;
    justify-content: flex-start;
    margin-top: 9px;
}

.progressStatus ul li{
    margin-top: 3px;
    margin-right: 55px;
}

.inspectName{
    margin-left: 10px;
    font-size: 18px;
}

.progress_percent{
    position: absolute;
    top:40px;
    font-size: 20px;
    color:green
}

.info{
    display:flex;
    flex-direction:column;
    font-weight: bold;
}

.middle_right_top{
    border-radius: 15px;
    width:100%;
    height:30vh;
    background-color: #fff;
    border:1px solid black;
    margin-bottom:10px;
    display:flex
}

.limit ul{
    display: flex;
    margin-top: 7px;
}

.limit ul li{

    margin-right: 55px;
}