
.col1{
  margin-top: 5%;
  margin-left: 45%;
}

.bLocation{
  margin-top: 4%;
  color: inherit;
  text-decoration: none !important;
}

.button1{
  border: 4px solid #4dabf7; 
  background-color: white; 
  height: 130px;
  width: 50%;
  cursor: pointer;
} 

.bContent1{
  font-size: x-large;
  padding-top: 5%;
  padding-left: 15%;
  cursor: pointer;
}

.bContent2{
  font-size: x-large;
  padding-top: 5%;
  padding-left: 31%;
  cursor: pointer;
}