.back{
  font-family: "DoHyeon-Regular"; 
}

.title{
  padding-top: 7vh;
  padding-bottom: 3vh;
  text-align: center;
}

.mainBody{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  width: 20%;
  margin: 0 30px;
}

.noticeBody{
  width: 38%;
}