.header-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:45px;
  background-color: #fff;
}

.logo{
 font-size: 1.4rem;
 font-weight: bold;
}


.user{
  display:flex;
  align-items: center;
}

nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height:45px;
  background-color: #4dabf7;
  font-size:1.4em
}

.menu{
  font-family: "DoHyeon-Regular"; 
  color:white;
}

@font-face {
  font-family: "DoHyeon-Regular";         
  src: url("./fonts/DoHyeon-Regular.ttf"); 
}