.test{
  font-family: "DoHyeon-Regular"; 
}
.back{
  background-color: #E7E6E6;
  height: 631px;
}
.col1{
  margin-bottom: 2%;
}

.col2{
  margin-left: 45%;
}

.box{
  background-color: white;
  border: 4px solid #4dabf7; 
  width: 500px;
  margin-left: 34%;
  margin-top: 2%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  
}

.button{
  margin-left: 85%;
}