.bg{
  font-family: "DoHyeon-Regular"; 
  background-color: #dee2e6;
  height: 100vh;
}

.col1{
  margin-bottom: 2%;
}

.col2{
  margin-left: 45%;
}

.box{
  background-color: white;
  border: 4px solid #4dabf7; 
  width: 500px;
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.button{
  display: flex;
  justify-content: flex-end;
}

.titleBox{
  text-align: center;
}

.titleContent{
  padding-top: 75px;
  font-size: 40px;
}