.time_box{
  background-color: white;
  border-style: solid;
  border-color: #adb5bd;
  height: 36.7vh;
}
.radios input[type=radio]{
  display: none;
}
label{
  display: inline-block;
  cursor: pointer;
  height: 25px;
  width: 80px;
  border: 1px solid #333;
  line-height: 22px;
  text-align: center;
  font-weight:bold;
  font-size:15px;
  margin-right: 5px;
}