.back{
  font-family: "DoHyeon-Regular"; 
  height: 86vh;
}

.border1{
  margin-left: 1%;
  width: 69%;
  float:left;
  background-color: white;
}

.border2{
  width: 28%;
  float:right;
  margin-right: 1%;
}

.border3{
  clear: both;
  margin-left: 1%;
  margin-right: 1%;  
  padding-top: 0.5%; 
}

