.back{
  font-family: "DoHyeon-Regular"; 
  height: 100%;
}

.font{
  font-family: "DoHyeon-Regular"; 
  
}

.reception{
  margin-left: 5%;
}

.upperline{
  width: 100%;
}

.test{
  width: 100%;
  border: 1px solid black;
}

.width{
  margin-top: 0.5%;
  width: 100%;
}

.border1{
  margin-left: 1%;
  width: 69%;
  height: 100%;
  float:left;

}

.border2{
  width: 28%;
  float:right;
  margin-right: 1%;
}

.border3{
  clear: both;
  margin-left: 1%;
  margin-right: 1%;  
  padding-top: 0.5%; 
}

