.select_Color{
  background-color: #e7f5ff;
}

.basic_Color{
  background-color: none;
}

  .select_Size{
      font-size:0.1em;
      padding-top: 10px;
  }

.slimscroll {
    overflow: auto;
}

.slimscroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slimscroll::-webkit-scrollbar-thumb {
    background-color: #B0B0B0;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.slimscroll::-webkit-scrollbar-track {
    background-color: #E0E0E0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px white;
}
